// Pages/Home
.above-the-fold {
  min-height: calc(100vh - 49px);
}
.feed-your-business {
  font-size: 3rem;
}
.increase-text {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
.hero-image {
  border: 10px solid #b6fff2;
  transition: 1s transform, 0.2s border;
  &:hover {
    border: 20px solid #b6fff2;
    cursor: pointer;
  }
}
.hero-shape {
  top: 0;
  left: 0;
}
.hero-cta {
  width: 220px !important;
}
@media (min-width: 768px) {
  .feed-your-business {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .feed-your-business {
    font-size: 5rem;
  }
  .increase-text {
    font-size: 3rem;
  }
}
