// Bootstrap Required
@import "../node_modules/bootstrap/scss/functions";

// Bootstrap default variable overrides
$primary: #000;

// Bootstrap Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Global Styles
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  &::selection:not(img) {
    background: #f7f3b8;
  }
  &::-moz-selection:not(img) {
    background: #f7f3b8;
  }
  &::-webkit-selection:not(img) {
    background: #f7f3b8;
  }
}
body {
  overflow-x: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  img,
  a,
  button {
    z-index: 1;
  }
}
img::selection {
  background: #a2cbd2;
}
img::-moz-selection {
  background: #a2cbd2;
}
img::-webkit-selection {
  background: #a2cbd2;
}
.gradient-bg {
  background-image: linear-gradient(
    200deg,
    #84aef1dd 8.4%,
    rgba(38, 238, 159, 0.47) 30.67%,
    rgba(21, 188, 223, 0.333) 70.04%,
    hsla(0, 0%, 100%, 0) 85%
  );
}
.gradient-bg1 {
  background-image: linear-gradient(
    135deg,
    rgba(132, 174, 241, 0.8) 10%,
    rgba(38, 238, 159, 0.4) 30%,
    rgba(21, 188, 223, 0.3) 70%,
    hsla(0, 0%, 100%, 0) 85%
  );
}
.gradient-bg2 {
  background-image: linear-gradient(
    -135deg,
    hsla(0, 0%, 100%, 0) 10%,
    rgba(21, 188, 223, 0.3) 30%,
    rgba(38, 238, 159, 0.4) 70%,
    rgba(132, 174, 241, 0.8) 85%
  );
}
.gradient-bg3 {
  background-image: linear-gradient(
    90deg,
    rgba(38, 238, 159, 0.4) 10%,
    rgba(21, 188, 223, 0.3) 25%,
    hsla(0, 0%, 100%, 0) 75%
  );
}
.silver-bg {
  background: linear-gradient(115deg, #bdcbd5, #ffffff, #c6dbe9);
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-frosted {
  background: linear-gradient(to left, #ffffffcc, #ffffff77) !important;
}
.bg-black.rounded-pill {
  transform: translateY(0);
  transition: 0.2s !important;
}
.bg-black.rounded-pill:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}
.checkered-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10rem 0;
}
.space-bg {
  background-image: linear-gradient(120deg, #0d1b31dd 8%, rgb(61, 60, 84) 30%, rgb(5, 41, 48) 60%, rgb(16, 21, 40) 85%);
}
.radial-bg {
  background: radial-gradient(#f9fbff 80%, #dae4f4);
}

// Header
.main-navbar {
  background-image: linear-gradient(white 70%, transparent);
  .nav-home {
    width: 110px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    svg {
      transition: 0.2s;
      transform: rotate(0);
    }
    span {
      letter-spacing: -0.05rem;
      font-weight: 100;
    }
    &:hover svg {
      font-size: 1.3rem;
      transform: rotate(-10deg);
    }
  }
  .nav-link:hover {
    text-decoration: underline;
  }
  .light-link {
    font-weight: 400;
    color: black;
    font-size: 0.95rem;
    text-decoration: none;
    border-bottom: 1px solid black;
  }
  .nav-cta {
    padding: 0.6rem 1.4rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 400 !important;
  }
}
.solid-white {
  background-image: linear-gradient(white 70%, white);
  border-bottom: 1px solid #ccc;
}

// Pages/Home
.above-the-fold {
  min-height: calc(100vh - 49px);
}
.feed-your-business {
  font-size: 3rem;
}
.increase-text {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
.hero-cta {
  width: 220px !important;
}
@media (min-width: 768px) {
  .feed-your-business {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .feed-your-business {
    font-size: 5rem;
  }
  .increase-text {
    font-size: 3rem;
  }
}

// PreviewWidescreen.tsx
.computer-screen {
  transform: scale(0.5) translate(-50%, -50%);
  width: 200%;
  height: 50%;
  .text {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
  }
}

// Pricing
.pricing-main {
  table {
    min-width: 540px;
  }
  table h2,
  h4 {
    font-family: "Poppins", sans-serif;
  }
  table,
  tr,
  th,
  td {
    border: 1px solid rgb(150, 150, 150);
  }
  .card:hover {
    transition: 0.2s;
    box-shadow: 0 4px 12px rgba(57, 125, 165, 0.5);
  }
}

// Get Started
form {
  opacity: 0;
  animation: fadeIn 0.8s forwards linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Footer
.footer-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  .footer-link {
    .link {
      opacity: 0;
      transition: 0.2s;
    }
    &:hover {
      .link {
        opacity: 1;
      }
    }
  }
  .linkedin {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  .github {
    margin-right: 0.5rem;
    font-size: 1.3rem;
  }
  .email-button {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer-col {
    .linkedin {
      margin-right: 1rem;
      font-size: 2rem;
    }
    .github {
      margin-right: 1rem;
      font-size: 2.1rem;
    }
    .email-button {
      font-size: 2.4rem;
    }
  }
}

// FourOhFour
.astronaut-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.astronaut {
  animation: floating 10s linear infinite;
}
@keyframes floating {
  0% {
    transform: scale(1) rotate(0deg);
    filter: blur(1px);
    opacity: 1;
  }
  80% {
    transform: scale(0.8) rotate(45deg);
    filter: blur(10px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate(360deg);
    filter: blur(1px);
    opacity: 1;
  }
}

.editor-mode {
  border: 1px solid red !important;
}

.footer-logo {
  .footer-logo-icon {
    animation: growAndRotate 1s;
  }
  span {
    &:nth-of-type(1) {
      animation: theWave 0.4s;
    }
    &:nth-of-type(2) {
      animation: theWave 0.4s 0.06s;
    }
    &:nth-of-type(3) {
      animation: theWave 0.4s 0.12s;
    }
    &:nth-of-type(4) {
      animation: theWave 0.4s 0.18s;
    }
    &:nth-of-type(5) {
      animation: theWave 0.4s 0.24s;
    }
    &:nth-of-type(6) {
      animation: theWave 0.4s 0.3s;
    }
    &:nth-of-type(7) {
      animation: theWave 0.4s 0.36s;
    }
  }
}
@keyframes growAndRotate {
  0% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  50% {
    transform: rotate(-10deg) translate(-3px, -3px) scale(1.5);
  }
  100% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
}
@keyframes theWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-image {
  border: 10px solid rgba(207, 228, 232, 0.4);
}

.hero-shape {
  top: 0;
  left: 0;
}

.home-try-it-now {
  background: url("../public/images/stacked-waves.svg");
  background-size: cover;
  background-position: center;
}
