// Bootstrap Required
@import "../node_modules/bootstrap/scss/functions";

// Bootstrap default variable overrides
$black: #0a0a0a;
$primary: #0a0a0a;

// Bootstrap Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Global Styles
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  &::selection:not(img) {
    background: #f7f3b8;
  }
  &::-moz-selection:not(img) {
    background: #f7f3b8;
  }
  &::-webkit-selection:not(img) {
    background: #f7f3b8;
  }
}
body {
  overflow-x: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  img,
  a,
  button {
    z-index: 1;
  }
}
img::selection {
  background: #a2cbd2;
}
img::-moz-selection {
  background: #a2cbd2;
}
img::-webkit-selection {
  background: #a2cbd2;
}
.silver-bg {
  background: linear-gradient(115deg, #bdcbd5, #ffffff, #c6dbe9);
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-frosted {
  background: linear-gradient(to left, #ffffffcc, #ffffff77) !important;
}
.bg-black.rounded-pill {
  transform: translateY(0);
  transition: 0.2s !important;
}
.bg-black.rounded-pill:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}
.space-bg {
  background-image: linear-gradient(120deg, #0d1b31dd 8%, rgb(61, 60, 84) 30%, rgb(5, 41, 48) 60%, rgb(16, 21, 40) 85%);
}
.radial-bg {
  background: radial-gradient(#f9fbff 80%, #dae4f4);
}
.bg-custom-blue {
  background-color: #b6fff2 !important;
}
.bg-custom-yellow {
  background-color: #fff488 !important;
}
.opaque {
  opacity: 1 !important;
}

// Pricing
.pricing-main .card {
  box-shadow: 3px 6px 1px #0a0a0a !important;
  .card-header {
    min-width: 6rem;
    border-right: 4px solid #0a0a0a;
  }
  .card-body svg {
    min-width: 1.3rem;
  }
  @media (min-width: 992px) {
    .card-header {
      width: auto;
      border-right: none;
    }
    .card-body {
      border-top: 4px solid #0a0a0a;
      border-bottom: 4px solid #0a0a0a;
    }
  }
}

// Get Started
form {
  opacity: 0;
  animation: fadeIn 0.2s forwards linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrollable-screen {
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
    -webkit-border-radius: 0 4px 4px 0;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background: #bbb;
  }
}

// FourOhFour
.astronaut-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.astronaut {
  animation: floating 10s linear infinite;
}
@keyframes floating {
  0% {
    transform: scale(1) rotate(0deg);
    filter: blur(1px);
    opacity: 1;
  }
  80% {
    transform: scale(0.8) rotate(45deg);
    filter: blur(10px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate(360deg);
    filter: blur(1px);
    opacity: 1;
  }
}

.editor-mode {
  border: 1px solid red !important;
}

.footer-logo {
  .footer-logo-icon {
    animation: growAndRotate 1s;
  }
  span {
    &:nth-of-type(1) {
      animation: theWave 0.4s;
    }
    &:nth-of-type(2) {
      animation: theWave 0.4s 0.06s;
    }
    &:nth-of-type(3) {
      animation: theWave 0.4s 0.12s;
    }
    &:nth-of-type(4) {
      animation: theWave 0.4s 0.18s;
    }
    &:nth-of-type(5) {
      animation: theWave 0.4s 0.24s;
    }
    &:nth-of-type(6) {
      animation: theWave 0.4s 0.3s;
    }
    &:nth-of-type(7) {
      animation: theWave 0.4s 0.36s;
    }
  }
}
@keyframes growAndRotate {
  0% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  50% {
    transform: rotate(-10deg) translate(-3px, -3px) scale(1.5);
  }
  100% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
}
@keyframes theWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.home-try-it-now {
  background: url("../public/images/stacked-waves.svg");
  background-size: cover;
  background-position: center;
}

.rounded-pill {
  border-radius: 3px !important;
}

.site-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  height: 100vh !important;
}
.mh75vh {
  min-height: 75vh !important;
  display: flex;
  align-items: center;
}
.mh100vh {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
}
.chart {
  transform: translateX(-25%);
}
.food-truck {
  transform: translate(10%, -60%) rotate(-45deg);
}

// CustomProgressBar
.progress-line {
  position: absolute;
  left: 0;
  bottom: 60%;
  transition: 0.5s;
  background-color: #0a0a0a;
}
.thin-line {
  height: 2px;
  width: 100%;
}
.thick-line {
  height: 6px;
  bottom: calc(60% - 2px);
  border-radius: 3px;
}
.progress-step {
  font-size: 0.7rem;
  text-wrap: nowrap;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & p {
    transition: 0.3s;
    color: black;
    position: absolute;
    font-size: 0.5rem;
    top: -14px;
  }
  &:nth-of-type(1) {
    left: calc(0% - 0.9rem);
  }
  &:nth-of-type(2) {
    left: calc(25% - 0.9rem);
  }
  &:nth-of-type(3) {
    left: calc(50% - 0.9rem);
  }
  &:nth-of-type(4) {
    left: calc(75% - 0.9rem);
  }
  &:nth-of-type(5) {
    left: calc(100% - 0.9rem);
  }
}

// Pages/GetStarted
@media (min-width: 768px) {
  .form-aside {
    height: 0;
    padding-top: 0;
    & * {
      opacity: 0;
      animation: appear 0.5s 0.5s forwards;
    }
    animation: openAside 0.5s 0.3s forwards;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes openAside {
    0% {
      height: 0;
      padding-top: 0;
    }
    100% {
      height: 100%;
      padding-top: 3rem;
    }
  }
}

// HomeTab
.edit-background-button {
  border: 3px solid #b6fff2 !important;
}
.edit-background-button:hover {
  background-color: #ffffff84 !important;
}

//EditableText
.editable-text-button {
  border: 2px solid #e6db7a !important;
}
.editable-text-button:hover {
  background-color: #e6db7a !important;
}

.preview-footer-link {
  color: rgb(255, 255, 255) !important;
}
.preview-footer-link:hover {
  color: rgb(188, 188, 188) !important;
}
