// Bootstrap Required
@import "../node_modules/bootstrap/scss/functions";

// Bootstrap default variable overrides
$black: #0a0a0a;
$primary: #0a0a0a;

// Bootstrap Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Global Styles
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  &::selection:not(img) {
    background: #f7f3b8;
  }
  &::-moz-selection:not(img) {
    background: #f7f3b8;
  }
  &::-webkit-selection:not(img) {
    background: #f7f3b8;
  }
}
body {
  overflow-x: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  img,
  a,
  button {
    z-index: 1;
  }
}
img::selection {
  background: #a2cbd2;
}
img::-moz-selection {
  background: #a2cbd2;
}
img::-webkit-selection {
  background: #a2cbd2;
}
.silver-bg {
  background: linear-gradient(115deg, #bdcbd5, #ffffff, #c6dbe9);
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-frosted {
  background: linear-gradient(to left, #ffffffcc, #ffffff77) !important;
}
.bg-black.rounded-pill {
  transform: translateY(0);
  transition: 0.2s !important;
}
.bg-black.rounded-pill:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}
.space-bg {
  background-image: linear-gradient(120deg, #0d1b31dd 8%, rgb(61, 60, 84) 30%, rgb(5, 41, 48) 60%, rgb(16, 21, 40) 85%);
}
.radial-bg {
  background: radial-gradient(#f9fbff 80%, #dae4f4);
}
.bg-custom-blue {
  background-color: #b6fff2 !important;
}
.bg-custom-yellow {
  background-color: #fff488 !important;
}
.opaque {
  opacity: 1 !important;
}

// Header
.main-navbar {
  & * {
    transition: 0.2s;
  }
  background-image: linear-gradient(white 70%, transparent);
  .nav-home {
    width: 110px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    svg {
      transition: 0.2s;
      transform: rotate(0);
    }
    span {
      letter-spacing: -0.05rem;
      font-weight: 100;
    }
    &:hover svg {
      font-size: 1.3rem;
      transform: rotate(-10deg);
    }
  }
  .nav-link:hover {
    text-decoration: underline;
  }
  .light-link {
    font-weight: 400;
    color: black;
    font-size: 0.95rem;
    text-decoration: none;
    border-bottom: 1px solid black;
  }
  .nav-cta {
    padding: 0.6rem 1.4rem;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 400 !important;
    transition: 0.05s;
  }
  .shrink {
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

// Pages/Home
.above-the-fold {
  min-height: calc(100vh - 49px);
}
.feed-your-business {
  font-size: 3rem;
}
.increase-text {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
.hero-cta {
  width: 220px !important;
}
@media (min-width: 768px) {
  .feed-your-business {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .feed-your-business {
    font-size: 5rem;
  }
  .increase-text {
    font-size: 3rem;
  }
}

// Pricing
.pricing-main {
  .card {
    transition: 0.2s;
    box-shadow: 3px 6px 1px #0a0a0a !important;
    &:hover {
      transform: translateY(-2px);
      box-shadow: 4px 8px 1px #0a0a0a !important;
    }
  }
}

// Get Started
form {
  opacity: 0;
  animation: fadeIn 0.2s forwards linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Footer
.footer-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  .footer-link {
    .link {
      font-size: 0.7rem;
      opacity: 0;
      transform: translateX(-10px);
      transition: 0.2s;
    }
    &:hover {
      .link {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  .linkedin {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  .github {
    margin-right: 0.5rem;
    font-size: 1.3rem;
  }
  .email-button {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 1.5rem;
  }
}
.waldo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  animation: openUp 0.2s forwards;
}
@keyframes openUp {
  0% {
    height: 0;
  }
  100% {
    height: 6rem;
  }
}
@media (min-width: 768px) {
  .footer-col {
    .linkedin {
      margin-right: 1rem;
      font-size: 2rem;
    }
    .github {
      margin-right: 1rem;
      font-size: 2.1rem;
    }
    .email-button {
      font-size: 2.4rem;
    }
    svg {
      transition: 0.2s;
      &:hover {
        -webkit-transform: rotate(-10deg) translate(-3px, -3px) scale(1.3);
        transform: rotate(-10deg) translate(-3px, -3px) scale(1.3);
      }
    }
  }
}

// FourOhFour
.astronaut-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.astronaut {
  animation: floating 10s linear infinite;
}
@keyframes floating {
  0% {
    transform: scale(1) rotate(0deg);
    filter: blur(1px);
    opacity: 1;
  }
  80% {
    transform: scale(0.8) rotate(45deg);
    filter: blur(10px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotate(360deg);
    filter: blur(1px);
    opacity: 1;
  }
}

.editor-mode {
  border: 1px solid red !important;
}

.footer-logo {
  .footer-logo-icon {
    animation: growAndRotate 1s;
  }
  span {
    &:nth-of-type(1) {
      animation: theWave 0.4s;
    }
    &:nth-of-type(2) {
      animation: theWave 0.4s 0.06s;
    }
    &:nth-of-type(3) {
      animation: theWave 0.4s 0.12s;
    }
    &:nth-of-type(4) {
      animation: theWave 0.4s 0.18s;
    }
    &:nth-of-type(5) {
      animation: theWave 0.4s 0.24s;
    }
    &:nth-of-type(6) {
      animation: theWave 0.4s 0.3s;
    }
    &:nth-of-type(7) {
      animation: theWave 0.4s 0.36s;
    }
  }
}
@keyframes growAndRotate {
  0% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
  50% {
    transform: rotate(-10deg) translate(-3px, -3px) scale(1.5);
  }
  100% {
    transform: rotate(0) translate(0, 0) scale(1);
  }
}
@keyframes theWave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-image {
  border: 10px solid #b6fff2;
}

.hero-shape {
  top: 0;
  left: 0;
}

.home-try-it-now {
  background: url("../public/images/stacked-waves.svg");
  background-size: cover;
  background-position: center;
}

.rounded-pill {
  border-radius: 3px !important;
}

.site-container {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  height: 100vh !important;
}
.mh75vh {
  min-height: 75vh !important;
  display: flex;
  align-items: center;
}
.mh100vh {
  min-height: 100vh !important;
  display: flex;
  align-items: center;
}
.chart {
  transform: translateX(-25%);
}
.food-truck {
  transform: translate(10%, -60%) rotate(-45deg);
}

// CustomProgressBar
.progress-line {
  position: absolute;
  left: 0;
  bottom: 60%;
  transition: 0.5s;
  background-color: #0a0a0a;
}
.thin-line {
  height: 2px;
  width: 100%;
}
.thick-line {
  height: 6px;
  bottom: calc(60% - 2px);
  border-radius: 3px;
}
.progress-step {
  font-size: 0.7rem;
  text-wrap: nowrap;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & p {
    transition: 0.3s;
    color: black;
    position: absolute;
    font-size: 0.5rem;
    top: -14px;
  }
  &:nth-of-type(1) {
    left: calc(0% - 0.9rem);
  }
  &:nth-of-type(2) {
    left: calc(25% - 0.9rem);
  }
  &:nth-of-type(3) {
    left: calc(50% - 0.9rem);
  }
  &:nth-of-type(4) {
    left: calc(75% - 0.9rem);
  }
  &:nth-of-type(5) {
    left: calc(100% - 0.9rem);
  }
}

// Pages/GetStarted
@media (min-width: 768px) {
  .form-aside {
    height: 0;
    padding-top: 0;
    & * {
      opacity: 0;
      animation: appear 0.5s 0.5s forwards;
    }
    animation: openAside 0.5s 0.3s forwards;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes openAside {
    0% {
      height: 0;
      padding-top: 0;
    }
    100% {
      height: 100%;
      padding-top: 3rem;
    }
  }
}
